.s-item-text-group {
  background: #fff;
  padding: 20px 32px;
}

h3.s-component-content.s-font-heading {
  margin-top: 0;

  a {
    color: #333;


    &:hover {
      color: $powder-green;
    }
  }
}

.s-item-subtitle {
  font-size: 17px;
}

h6.s-component-content.s-font-body {
  font-size: 16px;
  font-style: italic;
}

.s-component-content.s-font-body {
  font-size: 15px;
  margin-bottom: 50px;
}

.s-block-feature {
  img {
    width: 100%;
    height: auto;
  }
}

.s-block {
  .row {
    margin-bottom: 30px;

    &:nth-child(2n) {

      .col-sm-4 {
        float: right;
      }
    }
  }
}


.single-project,
.single-impacts {
  background: #f3f3f3;

  .page-main-content {
    padding: 53px 0;
  }

  .s-item-right-footer {
    margin-top: 16px;
  }

  .s-block-feature img {
    margin-bottom: 21px;
  }
}

