@media (min-width: 1200px) {
  .container-sm {
    width: 900px;
  }
}

////


.entry-image {
  margin-bottom: 30px;
  background: #eee;
  text-align: center;

  img {
    max-width: 100%;
    height: auto!important;
  }
}

////


.main-body {
  padding: 80px 0;
}


////

.impact-hero {
  background-image: url('http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/792431/AOKC32_1_ykowci.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 80px 0 120px;
  color: #fff;

  .section-title {
    margin-bottom: 0;
    text-align: left;

    max-width: 500px;

    h2 {
      color: #fff;

      + p {
        margin-top: -13px;
      }
    }

    p {
      color: #fff;
      margin-bottom: 24px;
    }

  }

}

.impact-list {
  .grid {
    margin-bottom: 30px;


  }
}

////


.featued-blocks {
  .icon {
    img {
      width: 130px;
      margin-bottom: 10px;
    }
  }

  .section-title h3 {
    color: #fff;
  }
}


////


.project-page {
  padding: 60px 0;
}

////

.hero-default {
  background: #ffff!important;
}

////

.impact-list {
  padding: 40px 0;

  .goal-raise {
    margin-top: 20px;
  }
}

.impact-list-2 {
  padding-top: 0;
  background: #fff;
}


////

.page-404 {
  text-align: center;
  padding: 46px 0 92px;

  h1 {
    font-size: 10em;
    margin-bottom: 0;
    line-height: .8;
    font-weight: 700;
  }
}
