@media (min-width: 1200px) {
  .container-sm {
    width: 900px;
  }
}

////


.entry-image {
  margin-bottom: 30px;
  background: #eee;
  text-align: center;

  img {
    max-width: 100%;
    height: auto!important;
  }
}

////


.main-body {
  padding: 80px 0;
}


////

.impact-hero {
  background-image: url('http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/v1/792431/AOKC32_1_ykowci.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 70px 0 80px;
  color: #fff;

  .section-title {
    margin-bottom: 0;

    h2 {
      color: #fff;

      + p {
        margin-top: -13px;
      }
    }

    p {
      color: #fff;
      margin-bottom: 24px;
    }

  }

}

.impact-list {
  .grid {
    margin-bottom: 30px;


  }
}

////


.featued-blocks {
  .icon {
    img {
      width: 130px;
      margin-bottom: 10px;
    }
  }

  .section-title h3 {
    color: #fff;
  }
}


////


.project-page {
  padding: 60px 0;
}