.partners-grids {

	.grid {
		text-align: center;

		img {
			width: auto;
			margin: 0 auto;
		}
	}
}


.partner-item {

	border: 1px solid #eee;

	.img-goal-raised{
		height: 180px;
		background: #fff;
		text-align: center;
		position: relative;

		.img-holder img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			min-width: auto;
			max-width: 65%;
			max-height: 65%;
			width: auto;
			height: auto;
		}

	}

	.causes-info {
		box-shadow: none!important;
		padding: 7px 14px;
		border-top: 1px solid #eee;
		min-height: 62px;

		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;

		h3 {
			font-size: 18px;
			text-align: center;
			width: 100%;
		}

	}
}
